DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_orders
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234567

SECRET_KEY = 'django-insecure-2$p0!3z&b!ah51q20p5!3vhw%pxoeo@hvfp3(=+v%dyoyktb8-'
DEBUG=true

EMAIL_HOST=smtp.yandex.ru
EMAIL_HOST_USER=XXX@yandex.ru
EMAIL_HOST_PASSWORD=yyyyyyyyyyyyyyyyyyyyyyyyyy
EMAIL_PORT=465
EMAIL_USE_SSL=True


YOUR_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx